@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-sans: 'Inter', sans-serif;

	--color-primary: var(--ui-color-primary-500);
	--color-secondary: var(--ui-color-secondary-500);
	--color-success: var(--ui-color-success-500);
	--color-info: var(--ui-color-info-500);
	--color-warning: var(--ui-color-warning-500);
	--color-error: var(--ui-color-error-500)
}

@layer base {
	:root{
		--ui-header-height: calc(var(--spacing)*16)
	}
	-webkit-tap-highlight-color: transparent;
}

@layer utilities {
	img{
		user-select: none;
		-webkit-user-drag: none;
	}
}